
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language </title>
</head>
<body style="background-color: black;">
    <br>
    <br>
    <h3 style="color: blueviolet;">Use your sign language ..</h3>

    <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Video Feed" width="400px" height="550px">

    <div id="prediction"></div>

    <script>
        // Ajoutez du code JavaScript ici si vous souhaitez effectuer des actions côté client
    </script>
</body>
</html>



